SECRET_KEY=30e9b8bcdbffc02518804632e19d70bfe7968d8215160983fc9192d469f3778

SENDER_EMAIL=<your>@<email>
SENDER_EMAIL_PASSWORD=<your email password>

GOOGLE_CLIENT_ID=<your google client id>
GOOGLE_CLIENT_SECRET=<your google client secret>

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin

ELASTIC_PASSWORD=elasticpassword

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
S3_ENDPOINT=http://minio:9000
S3_BUCKET=avatars
S3_GLOBAL_ENDPOINT=http://localhost:9000